output/
*~
build/
class
*.prof
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
source/checks.txt
configs
notebooks/figures
notebooks/notebooks
notebooks/python
notebooks/Coupling_example.ipynb
